<div class="homepage-layout">
  <div class="homepage-featured">
  </div>
  <div class="homepage-mid">
  </div>
  <div class="homepage-small">
  </div>
  <div class="homepage-small">
  </div>
  <div class="homepage-small">
  </div>
  <div class="homepage-small">
  </div>
</div>