<div class="homepage-layout">
  <div class="homepage-featured" style="background-image: url(/assets/signin.png)">
    <h2>Title of main</h2>
    <h4>Subtitle of main</h4>
  </div>

  <div class="homepage-mid" style="background-image: url(/assets/signup-side.png)">
    <h3>Title of main</h3>
    <h5>Subtitle of main</h5>
  </div>

  <div class="homepage-small" style="background-image: url(/assets/signup-side.png)">
    <h4>Title of main</h4>
    <h6>Subtitle of main</h6>
  </div>
  <div class="homepage-small" style="background-image: url(/assets/signin.png)">
    <h4>Title of main</h4>
    <h6>Subtitle of main</h6>
  </div>
  <div class="homepage-small" style="background-image: url(/assets/signup-side.png)">
    <h4>Title of main</h4>
    <h6>Subtitle of main</h6>
  </div>
  <div class="homepage-small" style="background-image: url(/assets/signin.png)">
    <h4>Title of main</h4>
    <h6>Subtitle of main</h6>
  </div>
</div>