@import "utilities/colors";
@import "utilities/fonts";
.new_article_container {
  height: 63%;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 4%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px 10px;
    &::before {
      z-index: -1;
      content: "New article";
      color: #fff;
      font-size: 25px;
      font-family: $chivo;
      padding-left: 90px;
      padding-top: 13px;
      width: 160px;
      height: 137px;
      position: absolute;
      right: 50%;
      top: 94px;
      background-color: $red-orange;
    }
    &::after {
      z-index: -1;
      content: "";
      width: 250px;
      height: 150px;
      position: absolute;
      left: 50%;
      top: 478px;
      background-color: $red-orange;
    }
    form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      font-family: $chivo;
        label:nth-of-type(1n + 2) {
          margin-top: 12px;
          margin-bottom: 3px;
        }
        textarea {
          height: 120px;
          resize: none;
        }
        input[type='submit'] {
          margin-top: 45px;
          border-radius: 40px;
          border: none;
          font-size: 15px;
          align-self: center;
          width: 65%;
          padding: 8px;
          background-color: $light-orange;
          color: #fff;
            &:hover {
              cursor: pointer;
            }
        }
    }
}

.index-container {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  font-family: $chivo;
    .two {
      background-color: #f6f6f6;
      padding: 20px;
      width: 100%;
      height: 100%;
    }
    .one {
      background-size: cover;
    }
    h3 {
      font-size: 20px;
      color: $orange;
    }
    p {
      max-height: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}

