@import "utilities/colors";
html {
  background-color: $dark-brown;
}

body {
  height: 100vh;
  min-height: 639px;
}

a {
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}

.nav {
  height:10%;
  background-color: #fff;
  color: $light-gray;
  display: flex;
  align-items: center;
    .nav-div-logo {
      flex: 1;
        img {
          height: auto;
          width: 80%;
        }
    }
    .nav-div-links {
      flex: 2;
      display: flex;
      align-self: center;
      justify-content: center;
        ul {
          display: flex;
            li {
              margin-right: 20px;
            }
        }
    }
    .nav-div-user {
      flex: 1;
      display: flex;
      padding-right: 2%;
      justify-content: flex-end;
    }
    .nav-link-active {
      color: $strong-orange;
    }
}