@import "utilities/colors";
@import "utilities/fonts";
html {
  background-color: $dark-brown;
}

body {
  height: 100vh;
  min-height: 639px;
}

a {
  text-decoration: none;
  &:visited{
    color: $light-gray;
  }
}

.nav {
  height:64px;
  background-color: #fff;
  color: $light-gray;
  display: flex;
  align-items: center;
  font-family: $chivo;
    .nav-div-logo {
      flex: 1;
        img {
          height: auto;
          width: 80%;
        }
    }
    .nav-div-links {
      flex: 2;
      display: flex;
      align-self: center;
      justify-content: center;
        ul {
          display: flex;
            li {
              margin-right: 20px;
            }
        }
    }
    
    .nav-div-user {
      flex: 1;
      display: flex;
      padding-right: 2%;
      justify-content: flex-end;
      color: $light-gray;
    }

    .nav-link-active {
      color: $strong-orange;
    }
}

.footer {
  height:56px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  display: flex;
  align-items: center;
  font-family: $chivo;
    .footer-div-logo {
      flex: 1;
        img {
          height: auto;
          width: 80%;
        }
    }
    .footer-div-links {
      flex: 2;
      display: flex;
      align-self: center;
      justify-content: center;
        ul {
          display: flex;
            li {
              margin-right: 20px;
              a {
                color: $orange;
              }
            }
        }
    }
    
    .footer-div-user {
      flex: 1;
      display: flex;
      padding-right: 2%;
      justify-content: flex-end;
      color: #fff;
      align-items: center;
        a { 
          img{
          height: 43px;
          width: auto;
          }
        }
    }

    .footer-link-active {
      color: $strong-orange;
    }
}