.signup-container {
  height: 80%;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
    .signup-side {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
        img {
          height: 105%;
          width: auto;
        }
    }
    .signup-form {
      height: 93%;
      width: 34%;
      padding: 22px 40px 40px 40px;
      background-color: #fff;
      h1 {
        color: #fc9d01;
        font-size: 40px;
        margin-bottom: 20px;
      }
  
      form {
        display: flex;
        flex-direction: column;
          input[type='text'] {
            margin-bottom: 10px;
          }
  
          input[type='submit'] {
            border-radius: 40px;
            border: none;
            font-size: 15px;
            align-self: center;
            width: 45%;
            padding: 8px;
            background-color: #fa6000;
            color: #fff;
              &:hover {
                cursor: pointer;
              }
          }
      }
    }
}
