.signup-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  padding: 1% 2% 2% 2%;
    h1 {
      color: #fc9d01;
      font-size: 30px;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
        input[type='text'] {
          margin-bottom: 10px;
        }

        input[type='submit'] {
          border-radius: 40px;
          font-size: 15px;
          align-self: center;
          width: 40%;
          padding: 5px;
          background-color: #fa6000;
          color: #fff;
            &:hover {
              cursor: pointer;
            }
        }
    }
}