<nav class='nav'>
  <div class='nav-div-logo'>
    <img src='assets/logo.png'>
  </div>
  <div class='nav-div-links'>
    <ul>
      <li><%= link_to "Home", root_path, class: "#{@home_link}" %></li>
      <li>Write Article</li>
    <ul>
  </div>
  <div class='nav-div-user'>
  <a>Sign in</a>
  &nbsp;|&nbsp;
  <%= link_to "Sign up", signup_path, class: "#{@signup_link}" %>
  </div>
</nav>