<nav class="nav">
  <div class="nav-div-logo">
  </div>
  <div class="nav-div-links">
    <ul>
      <li>Home</li>
      <li>Write Article</li>
    <ul>
  </div>
  <div class="nav-div-user">
  <a>Sign in</a>
  |
  <a>Sign up</a>
  </div>
</nav>